/* Code tidied up by ScrapBook */
html { height: 100%; }
body { height: 100%; font-family: Microsoft Yahei,tahoma,arial,verdana,sans-serif; font-size: 12px; color: rgb(69, 69, 69); line-height: 2; -moz-text-size-adjust: none; }
table { width: 100%; font-size: 12px; line-height: 2; }
a { text-decoration: none; color: rgb(99, 139, 217); }
a:hover { color: orange; }
a.button { display: inline-block; margin: 0px 5px 5px 0px; padding: 0px 25px; background-image: url("bgButton.png"); border: 1px solid rgb(221, 221, 221); border-radius: 20px; }
img { vertical-align: middle; }
input { font-family: Microsoft Yahei,tahoma,arial,verdana,sans-serif; font-size: 12px; }
textarea { font-family: Microsoft Yahei,tahoma,arial,verdana,sans-serif; font-size: 12px; overflow: auto; }
#colloaBody { margin: 0px; background-image: url("bg.jpg"); background-position: center center; background-attachment: fixed; background-size: cover; }
#colloaForm { width: 950px; background-color: white; padding: 30px 40px; }
.tableForm { border-top: 1px solid rgb(221, 221, 221); }
.tableForm tr { vertical-align: top; }
.tableForm td { height: 100%; border-bottom: 1px solid rgb(221, 221, 221); padding: 0px 3px; }
.fieldEditable { min-height: 24px; height: 100%; width: 100%; padding: 0px 3px; background-color: rgb(243, 250, 255); border: 0px none; line-height: 2; box-sizing: border-box; }
.fieldGetValueBySource { float: right; cursor: pointer; }
