<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.EgressDao">
	<resultMap type="Egress" id="rm">
	<id property="eg_id" column="eg_id"/>
	<result property="eg_theme" column="eg_theme"/>
	<result property="eg_shopdate" column="eg_shopdate"/>
	<result property="eg_applydate" column="eg_applydate"/>
	<result property="eg_egress" column="eg_egress"/>
	<result property="eg_return" column="eg_return"/>
	<result property="eg_hour" column="eg_hour"/>
	<result property="eg_day" column="eg_day"/>
	<result property="eg_site" column="eg_site"/>
	<result property="eg_reason" column="eg_reason"/>
	<result property="eg_send" column="eg_send"/>
	<result property="eg_advance" column="eg_advance"/>
	<result property="depart_id" column="depart_id"/>
	<result property="emp_id" column="emp_id"/>
	<result property="eaa_state" column="eaa_state"/>
	<result property="eaa_conclusion" column="eaa_conclusion"/>
	<result property="eaa_date" column="eaa_date"/>
	<association property="dept" column="depart_id"
	javaType="Department" select="getAllDepartmentById">
	</association>
	<association property="em" column="emp_id"
	javaType="Employee" select="getAllEmployeeById">
	</association>
	</resultMap>
	<!--部门全部查  -->
	<select id="getAllDepartmentById" resultType="Department">
		select * from
		department where depart_id=#{depart_id}
	</select>
	<!--员工全部查  -->
	<select id="getAllEmployeeById" resultType="Employee">
		select * from
		employee where emp_id=#{emp_id}
	</select>
		<!--  外出全部查询-->
	<select id="findAllEgress" resultMap="rm" parameterType="map">
		select * from egress where eaa_state!=1 order by eaa_date desc limit #{index},#{size}
	</select>
	<select id="findAllEgress_count" resultType="Integer" parameterType="map">
		select count(*) from egress where eaa_state!=1 order by eaa_date desc
	</select>
	<select id="findEgressById" parameterType="int" resultMap="rm">
		select * from egress where eg_id=#{eg_id}
	</select>
	<!--外出申请  -->
	<insert id="addEgress">
		insert into egress(eg_theme,eg_shopdate,eg_applydate,eg_egress,eg_return,
		eg_hour,eg_day,eg_site,eg_reason,eg_send,eg_advance,depart_id,emp_id,eaa_state,eaa_date,eaa_conclusion) values(#{eg_theme},#{eg_shopdate},#{eg_applydate},#{eg_egress},
		#{eg_return},#{eg_hour},#{eg_day},#{eg_site},#{eg_reason},#{eg_send},#{eg_advance},#{depart_id},#{emp_id},0,sysdate(),#{eaa_conclusion})
	</insert>
	<!--根据提供的条件查询  -->
	<select id="findEgressBylike" parameterType="map" resultMap="rm">
		select * from egress
		<where>
			eaa_state!=1
			<if test="eg_theme!=null">
				and eg_theme like '%${eg_theme}%'
			</if>
			<if test="eg_site!=null">
				and eg_site like '%${eg_site}%'
			</if>
		</where>
		limit #{index},#{size} 
	</select>
	<select id="findEgressBylike_count" resultType="Integer" parameterType="map">
		select count(*) from egress
		<where>
			eaa_state!=1
			<if test="eg_theme!=null">
				and eg_theme like '%${eg_theme}%'
			</if>
			<if test="eg_site!=null">
				and eg_site like '%${eg_site}%'
			</if>
		</where>
	</select>
	<!--审批  -->
	 <update id="updateEgress">
		update egress 
		<set>
				eaa_state=#{eaa_state},
			<if test="eaa_conclusion!=null">
				eaa_conclusion=#{eaa_conclusion},
			</if>
				eaa_date=sysdate()
		</set>
		<where>
			eg_id=#{eg_id}
		</where>
</update>
</mapper>