<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.EmployeeDao">
	<!-- 查询非离职的员工(条件查询:根据部门编号) -->
	<select id="findAllEmployeeRight" resultType="Employee" parameterType="map">
		SELECT * FROM employee WHERE emp_state  = '在职'
			<!-- 是否根据部门查询员工 -->
			<if test="depart_id!=null">
				and depart_id=#{depart_id}
			</if>
			<!-- 是否根据工号查询员工 -->
			<if test="emp_code!=null">
				and emp_code like CONCAT('%',#{emp_code},'%')
			</if>
			<!-- 是否根据姓名查询员工 -->
			<if test="emp_name!=null">
				and emp_name like CONCAT('%',#{emp_name},'%')
			</if>
		 limit #{index},#{size} 
	</select>
	<!-- 查询非离职的员工的数量(条件查询:根据部门编号) -->
	<select id="findAllEmployeeRight_count" resultType="Integer" parameterType="map">
		SELECT count(*) FROM employee WHERE emp_state  != '离职'    
		<!-- 是否根据部门查询员工 -->
			<if test="depart_id!=null">
				and depart_id=#{depart_id}
			</if>
			<!-- 是否根据工号查询员工 -->
			<if test="emp_code!=null">
				and emp_code like CONCAT('%',#{emp_code},'%')
			</if>
			<!-- 是否根据姓名查询员工 -->
			<if test="emp_name!=null">
				and emp_name like CONCAT('%',#{emp_name},'%')
			</if>
	</select>
	<!-- 初始化密码 -->
	<update id="updatePwdInit" parameterType="employee">
		update employee set emp_pwd=#{emp_pwd} where emp_id=#{emp_id}
	</update>
	<!-- 用户登录 -->
	<select id="loadByEmpcode" resultType="employee" parameterType="String">
		select * from employee where emp_code=#{emp_code}
	</select>
	<!-- 根据员工编号查询角色sn -->
	<select id="listRoleSnByUser" resultType="String" parameterType="Integer" >
		SELECT r.role_sn FROM employeerole er,Role r,employee e WHERE e.emp_id=er.emp_id AND r.role_id=er.role_id AND e.emp_id=#{emp_id}
	</select>
	<!-- 根据员工编号查询所有资源 -->
	<select id="listAllResource" resultType="resource" parameterType="Integer">
		SELECT res.* FROM employee e,Resource res,employeeRole er,RoleResource rr 
		WHERE e.emp_id=er.emp_id AND er.role_id=rr.role_id  AND rr.res_id=res.r_id AND e.emp_id=#{emp_id}
	</select>
	
	
	<!--全部查询-->
  <select id="findAllEmployee"  resultType="Employee">
    select * from Employee
  </select>
  	<!--根据姓名查询 --> 
  <select id="findEmployeeByname" parameterType="String" resultType="Employee">
  	select * from Employee where emp_name like '%${emp_name}%'
  </select>
  	<!--根据工号查询 --> 
  <select id="findEmployeeBycode" parameterType="String" resultType="Employee">
  	select * from Employee where emp_code like '%${emp_code}%'
  </select>
  	<!--根据id查询 --> 
  <select id="findEmployeeById" parameterType="int" resultType="Employee">
  	select * from Employee where emp_id=#{emp_id}
  </select>
  <!-- 新增员工 
  -->
  <insert id="addEmp">
  	insert into Employee(emp_code,emp_name,emp_sex,emp_state,
  	emp_mobile,emp_email,emp_birth,emp_join,emp_formal,emp_leave,
  	emp_description) values(#{emp_code},#{emp_name},#{emp_sex},
  	#{emp_state},#{emp_mobile},#{emp_email},#{emp_birth},#{emp_join},#{emp_formal},#{emp_leave},#{emp_description})
  </insert>
  <!-- 根据在职状态查询 -->
  <select id="findEmployeeState" parameterType="String" resultType="Employee">
  	select * from Employee where emp_state like '%${emp_state}%'
  </select>
  <!--删除员工-->
   <delete id="delEmployee">
  	delete from Employee where emp_id=#{emp_id} 
  </delete>
  <!-- 	private String emp_code;//工号
	private String emp_name;//姓名
	private String emp_sex;//性别
	private String emp_state;//在职状态
	private String emp_mobile;//手机号
	private String emp_email;//电子邮件
	private String emp_birth;//出生日期
	private String emp_join;//入职日期
	private String emp_formal;//转正日期
	private String emp_leave;//离职日期
	private String emp_description;//描述 -->
	<!-- 修改-->
  <update id="updateEmployee" >
	update Employee set emp_code=#{emp_code},emp_name=#{emp_name},
	emp_sex=#{emp_sex},emp_state=#{emp_state},emp_mobile=#{emp_mobile},
	emp_email=#{emp_email},emp_birth=#{emp_birth},emp_join=#{emp_join},
	emp_formal=#{emp_formal},emp_leave=#{emp_leave},emp_description=#{emp_description} 
	where emp_id=#{emp_id}
	</update>
    <select id="zzstate" resultType="int">
   select count(*) from Employee where emp_state=#{emp_state}
   </select>
     <select id="systate" resultType="int">
   select count(*) from Employee where emp_state=#{emp_state}
   </select>
     <select id="txstate" resultType="int">
   select count(*) from Employee where emp_state=#{emp_state}
   </select>
     <select id="lzstate" resultType="int">
   select count(*) from Employee where emp_state=#{emp_state}
   </select>
</mapper>
