<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.TravelDao">
	<resultMap type="Travel" id="rm">
	<id property="tv_id" column="tv_id"/>
	<result property="tv_theme" column="tv_theme"/>
	<result property="tv_priority" column="tv_priority"/>
	<result property="tv_applydate" column="tv_applydate"/>
	<result property="tv_cdate" column="tv_cdate"/>
	<result property="tv_ddate" column="tv_ddate"/>
	<result property="tv_termini" column="tv_termini"/>
	<result property="tv_reason" column="tv_reason"/>
	<result property="tv_traffic" column="tv_traffic"/>
	<result property="tv_report" column="tv_report"/>
	<result property="tv_result" column="tv_result"/>
	<result property="depart_id" column="depart_id"/>
	<result property="emp_id" column="emp_id"/>
	<association property="dept" column="depart_id"
	javaType="Department" select="getAllDepartmentById">
	</association>
	<association property="em" column="emp_id"
	javaType="Employee" select="getAllEmployeeById">
	</association>
	</resultMap>
	<select id="getAllDepartmentById" resultType="Department">
		select * from
		department where depart_id=#{depart_id}
	</select>
	<select id="getAllEmployeeById" resultType="Employee">
		select * from
		employee where emp_id=#{emp_id}
	</select>
		<select id="findAllTravel" resultMap="rm" parameterType="map">
		select * from travel limit #{index},#{size}
	</select>
		<select id="findAllTravel_count" resultType="Integer" parameterType="map">
		select count(*) from travel
	</select>
	<!-- 根据id查询 -->
	<select id="findTravelById" parameterType="int" resultMap="rm">
		select * from travel where tv_id=#{tv_id}
	</select>
	<!--	private Integer tv_id;//id
	private String tv_theme;//主题
	private String tv_priority;//优先级
	private String tv_applydate;//申请时间
	private String tv_cdate;//出差：从
	private String tv_ddate;//出差：到
	private String tv_termini;//目的地
	private String tv_reason;//出差事由
	private String tv_traffic;//交通工具
	private String tv_report;//出差报告
	private String tv_result;//出差结果
	private Integer depart_id;
	public Department dept;//部门
	public Employee em;//员工
	private Integer emp_id;  -->
	<!-- 出差申请 -->
	<insert id="addTravel">
		insert into travel(tv_theme,tv_priority,tv_applydate,tv_cdate,tv_ddate,tv_termini,tv_reason,tv_traffic,
		tv_report,tv_result,depart_id,emp_id) values(#{tv_theme},#{tv_priority},#{tv_applydate},#{tv_cdate},#{tv_ddate},#{tv_termini},
		#{tv_reason},#{tv_traffic},#{tv_report},#{tv_result},#{depart_id},#{emp_id})
	</insert>
	  	<!--根据主题查询 --> 
  <select id="findTravelBylike" parameterType="Travel" resultMap="rm">
  	select * from travel
  	<where>
  		<if test="tv_theme!=null">
  			tv_theme like '%${tv_theme}%'
  		</if>
  		<if test="tv_termini!=null">
  			tv_termini like '%${tv_termini}%'
  		</if>
  	</where> 
  </select>
</mapper>