/* Code tidied up by ScrapBook */
html { height: 100%; }
body { height: 100%; font-family: Microsoft Yahei,tahoma,arial,verdana,sans-serif; font-size: 12px; color: rgb(69, 69, 69); line-height: 2; }
table { width: 100%; font-size: 12px; line-height: 2; }
a { text-decoration: none; color: rgb(99, 139, 217); }
a:hover { color: orange; }
a.button1 { display: inline-block; text-align: center; padding: 3px 15px; background-image: url("bgButton.png"); border-top: 1px solid rgb(221, 221, 221); border-bottom: 1px solid rgb(221, 221, 221); }
a.button1L { border-left: 1px solid rgb(221, 221, 221); border-radius: 5px 0px 0px 5px; }
a.button1A { border: 1px solid rgb(221, 221, 221); border-radius: 5px 5px 5px 5px; }
a.button1R { border-left: 1px solid rgb(221, 221, 221); border-right: 1px solid rgb(221, 221, 221); border-radius: 0px 5px 5px 0px; }
a.buttonPortal { line-height: 1; color: rgb(153, 153, 153); padding: 0px 3px; }
a.buttonPortal:hover { color: rgb(99, 139, 217); }
img { vertical-align: middle; }
h1 { display: inline; font-family: Microsoft Yahei; font-weight: normal; font-size: 24px; line-height: 1; }
#colloaBody { margin: 0px; background-image: url("bg.jpg"); background-position: center center; background-attachment: fixed; background-size: cover; }
#colloaMenu { color: rgb(176, 196, 222); width: 18%; padding: 10px 0px 30px; }
#colloaMenu a { display: block; color: rgb(176, 196, 222); font-family: Microsoft Yahei; padding: 3px 20px; margin: 3px 0px; }
#colloaMenu a.indent0 { padding-left: 0px; }
#colloaMenu a.indent0:after { content: ""; font-family: FontAwesome; float: right; }
#colloaMenu a.indent0ex { padding-left: 0px; }
#colloaMenu a:hover { color: orange; }
#colloaMenu a.textHighlight { background-color: rgb(255, 255, 200); color: orange; }
#colloaContent { background-color: white; padding: 30px; }
#colloaMenu2 { float: left; width: 200px; border: 1px solid rgb(221, 221, 221); border-radius: 5px; padding: 30px 0px 25px; }
#colloaMenu2 a { display: block; background-image: url("bgButton.png"); border-top: 1px solid rgb(238, 238, 238); border-bottom: 1px solid rgb(221, 221, 221); font-size: 14px; margin-bottom: 5px; padding: 0px 10px 2px; }
#colloaContent2 { margin-left: 230px; }
.tableList { border: 1px solid rgb(221, 221, 221); background-image: url("bgButton.png"); background-repeat: repeat-x; border-radius: 5px; }
.tableList th { padding: 3px 0px 3px 10px; text-align: left; white-space: nowrap; }
.tableList tbody tr:hover { background-color: lightyellow; }
.tableList td { border-top: 1px solid rgb(221, 221, 221); padding: 3px 0px 3px 10px; }
.textHighlight { color: orange; }
.textGray { color: rgb(153, 153, 153); }
